body:before {
    content: "";
    position: fixed;
    inset: -50px;
    background: 
     repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 
      60% 60%/3000px 3000px,
     repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 
      40% 40%/4000px 3000px;
    background-blend-mode: difference;
    filter: blur(2px) contrast(100) brightness(40);
    mix-blend-mode: lighten;
  }
  
  body {
    background: #00DFFC;
    margin: 0;
    min-height: 100vh;
  }
  
  html {
    background: #fff;
  }