:root {
  --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

body {
  background-color: #1D1E22;
  font-family: sans-serif;
  display: flex;
}

.card {
  margin: auto;
  padding: 1rem;
  height: 300px;
  width: 300px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: gray;
  border-radius: 10px;
}

.bg-blur {
  overflow: hidden;
  background-color: transparent;
}

.bg-blur::before {
  content: '';
  background-image: var(--bg-image);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
}
